<div class="content">
  <h1>Enter an zip to look up a forecast:</h1>

  <%= form_with url: fetch_forecast_path, id: "forecast-form"  do |form| %>
    <%= form.text_field :zip  %>
    <%= form.submit "Lookup Forecast", class: "btn btn-info" %>
  <% end %>

  <div id="result-container"></div>
</div>
